<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu Items List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dostępne akcje
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/menu/add">Dodaj menu</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Wyświetl aktywne</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <span th:text="${user}">...</span>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Rodzaj</th>
                    <th scope="col">Dodaj Do Koszyka</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="menuItem : ${menuItems}">
                    <tr>
                        <th scope="row"><span th:text="${menuItem.id}">...</span></th>
                        <td><span th:text="${menuItem.name}">...</span></td>
                        <td><span th:text="${menuItem.price}">...</span></td>
                        <td><span th:text="${menuItem.itemType}">...</span></td>
                        <td>
                            <form action="#" th:action="@{/menuItem/addToCart}" th:object="${form}" method="post">
                                <input type="hidden" th:value="${menuItem.id}" name="id" id="id"/>
                                <button type="submit" class="btn btn-primary"><i class="bi bi-bag"></i></button>
                            </form>
                        </td>
                        <td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <table class="table" th:unless="${cart.isEmpty}">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Rodzaj</th>
                        <th scope="col">Usuń z koszyka</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="cartItem : ${cart.menuItems}">
                        <tr>
                            <th scope="row"><span th:text="${cartItem.id}">...</span></th>
                            <td><span th:text="${cartItem.name}">...</span></td>
                            <td><span th:text="${cartItem.price}">...</span></td>
                            <td><span th:text="${cartItem.itemType}">...</span></td>
                            <td>
                                <form action="#" th:action="@{/menuItem/removeFromCart}" th:object="${form}"
                                      method="post">
                                    <input type="hidden" th:value="${cartItem.id}" name="id"/>
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-x-square-fill"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    <tr>
                        <th scope="row"><span>Suma</span></th>
                        <td colspan="4"><span th:text="${cart.cartValue}">...</span></td>
                    </tr>
                    </tbody>
                </table>
                <h5 th:if="${cart.isEmpty}">koszyk pusty</h5>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>