<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edytuj Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dostępne akcje
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/menu/add">Dodaj menu</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Wyświetl aktywne</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <form class="row g-3" action="#" th:action="@{/reservations/create}" th:object="${form}" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Data</span>
                    <input type="date" th:field="*{reservationDate}" th:value="${reservationDate}" class="form-control" placeholder="Nazwa"
                           aria-label="Data" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <input type="time" min="11:00" max="21:00" th:field="*{reservationStart}" th:value="${reservationStart}" class="form-control"
                           placeholder="Start rezerwacji" aria-label="Start rezerwacji">
                    <input type="number" min="1" th:field="*{guestNumber}" th:value="${guestNumber}"
                            placeholder="Ilość gości" aria-label="Ilość gości">
                    <input type="number" min="1" max="6" th:field="*{reservationLength}" th:value="${reservationLength}"
                           placeholder="Długość rezerwacji" aria-label="Długość rezerwacji">
                </div>
                <div class="input-group mb-3">
                    <select id="spotType" name="spotType" class="form-select">
                        <option th:field="*{spotType}" th:each="spotType : ${T(com.sadur.corp.restauratmanager.model.reservation.SpotType).values()}"
                                th:value="${spotType}" th:text="${spotType}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Utwórz</button>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>